// _default.scss
// 
// Template's default layout styles.
// 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
	padding: 0 0 30px 0;
	background-color: $color-gray-2;
	font-family: 'Montserrat', sans-serif;
}

.config-bar {
	td {
		padding: 0px 15px;
		font-weight: 700;

		&.group-end {
			// padding: 0px 15px 0px 10px;
			border-right: 2px solid #b5b5b5;
		}

		span {
			margin: 0px 5px;
			cursor: pointer;
			color: #646669;
			&.selected {
				color: #e2b714;
			}
		}

		&.checkbox {
			span {
				margin: 0;
			}
		}
	}
}

.less-card {
	transition: 0.5s;
	&:hover {
		transform: scale(1.1);
	}
}

// Default Layout
.layout-default {
	background: transparent;
	text-align: left;
	position: relative;
	overflow-x: hidden;
				
	@media( min-width: $lg ){
		overflow: auto;
	}
	.ant-layout-header {
		display: flex;
		position: relative;
		background-color: $color-gray-1;
		color: $color-gray-12;
		box-shadow: $shadow-1;
		flex-direction: column;
		padding: 20px;
		height: auto;
		line-height: 1.5;
				
		@media( min-width: $lg ){
			flex-direction: row;
			padding: 0 50px;
			height: 64px;
			line-height: 64px;
		}

		.header-brand {
			// margin-right: auto;
			// margin-left: auto;
			// display: flex;
			// justify-content: space-between;
			// width: 100%;
			// align-items: center;
			// margin-bottom: 20px;
				
			@media( min-width: $lg ){
				margin-right: auto;
				margin-left: 0;
				display: block;
				width: auto;
				margin-bottom: 0px;
			}

			.btn-menu-trigger {
				display: block;
				
				@media( min-width: $lg ){
					display: none;
				}
			}

			h6 {
				white-space: nowrap;
				font-size: 16px;
				color: $color-gray-12;
				margin: 0;
			}
				
			@media( min-width: $lg ){
				h6 {
					font-size: 14px;
				}
			}
		}
		.header-menu .ant-menu-submenu a svg {
			margin-right: 5px;
		}
		.header-nav {
			margin-right: auto;
			margin-left: auto;
			width: 100%;
				
			@media( min-width: $lg ){
				margin-right: auto;
				margin-left: auto;
			}

			a {
				color: $color-gray-12;
				padding: 6px 12px;
				font-weight: $fw-regular;

				&.router-link-active {
					color: $color-gray-12;
					font-weight: $fw-semibold;
					svg path {
						fill: $color-gray-12;
					}
				}

				svg,
				span {
    				vertical-align: middle;
				}
				svg {
					margin-right: 5px;
				}
			}

			.menu-large {
				display: none;
					
				@media( min-width: $lg ){
					display: block;
				}
			}
			
			.ant-menu-horizontal {
				border: none;
				margin-top: 0px;
				text-align: center;
				background-color: transparent;
					
				@media( min-width: $md ){
					margin-top: 0;
				}
				> .ant-menu-item {
					padding: 0;
				}

				.ant-menu-submenu-title > span { // Ellipsis element
					vertical-align: 6px;
				}
				> .ant-menu-item,
				> .ant-menu-item:hover,
				> .ant-menu-item-active,
				> .ant-menu-item-selected,
				> .ant-menu-submenu,
				> .ant-menu-submenu:hover,
				> .ant-menu-submenu-active,
				> .ant-menu-submenu-selected {
					color: $color-gray-7;
					font-weight: $fw-semibold;
					border: none;
				}
				> .ant-menu-item:hover,
				> .ant-menu-item-active,
				> .ant-menu-item-selected,
				> .ant-menu-submenu:hover,
				> .ant-menu-submenu-active,
				> .ant-menu-submenu-selected {
					color: $color-gray-10;
				}

				.ant-menu-submenu-title {
					font-size: 16px;
					font-weight: bold;
				}
			}

			.menu-small {
				display: block;
					
				@media( min-width: $lg ){
					display: none;
				}

				.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
					border: none;
				}
				.ant-collapse > .ant-collapse-item > .ant-collapse-header {
					display: none;
				}
				.ant-collapse-content {
					border: none;
				}
				.ant-collapse > .ant-collapse-item {
					border: 0;
					border-radius: 4px;
				}
				.ant-menu {
					border: 1px solid $color-gray-12;
				}
				.ant-collapse-item:last-child > .ant-collapse-content {
					border-radius: 4px;
					border-color: $color-gray-12;
					border-top: 0;
				}
				.ant-collapse {
					background-color: transparent;
					border: 0;
				}
				.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
					border: 1px solid $color-gray-5;
					border-radius: 4px;
					padding: 16px 0px;
					margin-bottom: 20px;
				}
				.ant-collapse-content-box {
					padding: 0;
				}
				.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
					height: auto;
					margin: 0;
				}
				.ant-menu-vertical .ant-menu-item a {
					padding-top: 0;
					padding-bottom: 0;
				}
				.ant-collapse-content > .ant-collapse-content-box {
					padding: 0;
				}
				.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
					height: auto;
					margin: 0;
				}
			}

		}
		.header-btn {
				
			@media( min-width: $lg ){
				margin-left: auto;
			}

			.ant-btn-round.ant-btn-sm {
				font-size: 12px;
				width: 100%;
				
				@media( min-width: $lg ){
					width: auto;
				}
			}
		}
	}
	.ant-layout-content {
		padding-top: 40px;
	}
	.ant-layout-footer {
		padding: 24px 0px;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		background: transparent;
		text-align: center;
			
		@media( min-width: $md ) {
			padding: 24px 50px;
		}
			
		.ant-menu-horizontal {
			border: none;
			line-height: 1.5;
			margin: 0 0 30px;
			background-color: transparent;
			font-size: 16px;
				
			@media( min-width: $md ){
			}
			> .ant-menu-item,
			> .ant-menu-item:hover,
			> .ant-menu-item-active,
			> .ant-menu-item-selected,
			> .ant-menu-submenu,
			> .ant-menu-submenu:hover,
			> .ant-menu-submenu-active,
			> .ant-menu-submenu-selected {
				color: $color-gray-7;
				border: none;
			}
			> .ant-menu-item:hover,
			> .ant-menu-item-active,
			> .ant-menu-item-selected,
			> .ant-menu-submenu:hover,
			> .ant-menu-submenu-active,
			> .ant-menu-submenu-selected {
				color: $color-gray-10;
			}

			.ant-menu-submenu-title {
				font-size: 16px;
				font-weight: bold;
			}
		}

		.menu-nav-social {
			a svg {
				fill: $color-muted;
				vertical-align: middle;
			}
			a:hover svg {
				fill: $color-primary;
			}
		}

		.copyright {
			margin: 0;
			font-size: 16px;
			color: $color-muted;
			
			svg {
				width: 16px;
				height: 16px;
				vertical-align: -2px;
				path {
					fill: $color-danger;
				}
			}
			a {
				color: inherit;
			}
		}
	}
}
// Default Layout


.result-dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #F7F7F7;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	.chart-container {
		width: 40%;
	}

	.text {
		font-weight: 900;
		font-size: 20px;
		line-height: 60%;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.title {
			color: #e2b714;
		}

		.number {
			font-size: 25px;
			color: #394554;
		}

		&.right {
			text-align: right;
			margin-right: 20px;
			margin-top: 20px;
		}
	}

	.status {
		display: flex;
		margin-top: 30px;


		.actions-info {
			position: relative;
			font-weight: 700;
			line-height: 180%;
			height: 60px;
			color: #646669;
			display: flex;
			align-items: center;
			margin-left: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				font-size: 2vw;
				color: #E2B714;
				margin: 0;
			}

			svg {
				height: 30%;
				margin-top: 10%;
				fill: #6B6B6B;
				cursor: pointer;
			}
		}
	}
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #646669; 
}

::-webkit-scrollbar-thumb {
  background: #e2b714; 
}

::-webkit-scrollbar-thumb:hover {
  background: #e2b714;
}

.sign-in-container {
	width: 25%;
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;

	@include mobile {
		width: 90%;
	}

	.login-form-button {
		background: #D0463B; 
		border: #D0463B; 
		border-radius: 10px;
		margin-top: 10px;
		// @include vw-convert-desktop('margin-top', 5px);
		// @include vw-convert-desktop('height', 50px);
		height: 50px;

		@include mobile {
			// @include vw-convert-mobile('margin-top', 5px);
			margin-top: 10px;
			@include vw-convert-mobile('height', 80px);
		}
	}

	.or-divider {
		margin: 20px 0px 10px 0px;
		text-align: center;
		color: #bfbfbf;
	}

	.el-input input {
		// @include vw-convert-desktop('height', 50px);
		height: 50px;
		border-radius: 10px;

		@include mobile {
			@include vw-convert-mobile('height', 80px);
		}
	}

	.el-input.error {
		input {
			border-color: #D0463B;
		}
	}

	.sign-up-gateways {
		width: 40%;
		display: flex;

		.ant-btn {
			height: 50px;
			margin-right: 2%;
			font-size: 14px;
		}
	}

	.description {
		width: 100%;
		color: #000;
		margin: 20px 0px;

		.alert {
			color: #e2b714;
			font-weight: 700;
		}
	}
}

.close-btn {
	width: 3%;
	position: absolute;
	top: 0;
	right: 4%;
	z-index: 2;

	svg {
		width: 100%;
		fill: #fff;
		cursor: pointer;
	}
}




// more css properties

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */

.bottom-box {
    width: 100%;
    bottom: 0;
    background: #fff;
    position: fixed;
		@include vw-convert-desktop('height', 50px);
    left: 0;
}
.text-span {
	@include vw-convert-desktop('font-size', 30px);
    font-weight: 500;
		@include vw-convert-desktop('height', 60px);
		@include vw-convert-desktop('width', 60px);
    display: inline-block;
		@include vw-convert-desktop('border-radius', 8px);
    position: relative;
    font-family: 'Roboto Mono', monospace;
}
.shake-span {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.span-normal {
    border: 1px solid #dadada;
    color: #fff;
    background: #0383F2;
}
.span-correct {
    border: 1px solid #10c373;
    color: #10c373;
    background: #e2f7e2;
} 
.st0 {
    fill: #c9c9c9;
}
.span-error {
    border: 1px solid #ff8097;
    background: #ff8097;
}
.span-error-text {
    position: absolute;
    top : 5%; 
    left : 30%;
    color: #fff;
}
.current-span {
	@include vw-convert-desktop('height', 3px);
	width: 100%;
	background: #0383f2;
	@include vw-convert-desktop('margin-top', 15px);
	transition: 1s;
}
.correct-span {
    background: green;
}
.span-opacity-0 {
    opacity: 0.2;
}

.all-title {
    color: grey;
}

.selected-key {
    fill: #0383F2;
    color: #fff;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.intro-title {
    font-family: 'Exo 2', sans-serif;
    @include vw-convert-desktop('font-size', 20px);
    padding-left: 20%;
}

.intro-text {
    font-family: 'Exo 2', sans-serif;
		@include vw-convert-desktop('font-size', 25px);
    padding-left: 20%;

		&.no-text {
			padding-left: 0;
		}

		.text-span {
			@include vw-convert-desktop('font-size', 30px);
			font-weight: 500;
			@include vw-convert-desktop('height', 60px);
			@include vw-convert-desktop('width', 60px);
			display: inline-block;
			@include vw-convert-desktop('border-radius', 8px);
			position: relative;
			font-family: 'Roboto Mono', monospace;
		}

		.selected-key {
			fill: #0383F2;
			color: #fff;
		}
		.span-normal {
			/* border: 1px solid #dadada; */
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			color: #6f6f74;
			background: #fff;
		}
		.span-correct {
			border: 1px solid #10c373;
			color: #10c373;
			background: #e2f7e2;
		} 
		.span-error {
			border: 1px solid #ff8097;
			background: #ff8097;
		}
		.text-span-second {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.span-error-text {
			position: absolute;
			top : 18%; 
			left : 38%;
			color: #fff;
		}
		.current-span {
			@include vw-convert-desktop('height', 3px);
			width: 100%;
			position: absolute;
			background: #e2b714;
			@include vw-convert-desktop('bottom', -10px);
			transition: all 1s ease-in;
		}
		.correct-span {
			background: green;
		}
		.span-opacity-0 {
			opacity: 0.2;
		}

		
	.progress {
		@include vw-convert-desktop('margin-top', 20px);
	}
	.parent-span {
		@include vw-convert-desktop('font-size', 35px);
    color: #515457;
    font-family: 'JetBrains Mono', monospace;
	}

	.active-span {
		border-top: 2px solid #c7c9c8;
		@include vw-convert-desktop('border-radius', 5px);
	}
}
.st0 {
	fill: #c9c9c9;
}

.hold-background {
	width: 100%;
	background: black;
	height: 100%; 
	opacity: 0.8;
}

.hold-background-img {
		margin: auto;
		width: 25%;
}

.hold-background-text {
		margin-top: 5%;
		@include vw-convert-desktop('font-size', 40px);
		color:  #fff;
		font-family: 'Exo 2', sans-serif;
}

.hold-word-box {
		@include vw-convert-desktop('width', 60px);
		@include vw-convert-desktop('height', 60px);
		color: black;
		@include vw-convert-desktop('margin-right', 10px);
		font-family: 'JetBrains Mono', monospace;
		font-weight: 700;
		@include vw-convert-desktop('font-size', 30px);
		margin-left: 25%;
		background: #fff;
		@include vw-convert-desktop('padding-top', 8px);
		@include vw-convert-desktop('border-radius', 5px);
		border-radius: 5px;
}


.hold-modal {
	position: fixed; /* Stay in place */
	@include vw-convert-desktop('padding-top', 100px);
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background: black;
	opacity: 0.9;
	z-index: 500;
}

.my-order {

	// display: flex;
	// align-items: center;
	// justify-content: center;
	// flex-direction: column;
	width: 100%;
	height: 100%;


	.el-card {
		width: 70%;
		margin: auto;
		@include vw-convert-desktop('border-radius', 10px);
		@include vw-convert-desktop('margin-top', 20px);

		@include mobile {
			width: 100%;
		}

		.container {
			display: flex;
			flex-direction: row;
			position: relative;

			&.product {
				border-top: 1px dashed #d4d4d4;
				@include vw-convert-desktop('margin-top', 30px);
				@include vw-convert-desktop('padding-top', 30px);
			}
	
			.titles-order {
				width: 50%;
				font-weight: 600;

				// &.product {
				// 	@include vw-convert-desktop('margin-top', 50px);
				// }

				
				@include mobile {
					@include vw-convert-mobile('font-size', 22px);
				}

				.monitor {
					color: grey;
				}
				
	
				&.countdown {
					text-align: right;

					.monitor {
						font-weight: 500;
						color: grey;
					}

					.timer {
						color: #4f4f4f;
						span {
							color: black;
						}

						@include mobile {
							@include vw-convert-mobile('font-size', 18px);
						}
					}
				}
			}

			&.qrcode {
				@include vw-convert-desktop('margin-top', 20px);

				@include mobile {
					@include vw-convert-mobile('margin-top', 20px);
				}

				.qr-cont {
					width: 30%;
					margin: auto;

					@include mobile {
						width: 50%;
					}
				}
				img {
					
					width: 100%;
				}
			}

			&.description {
				flex-direction: column;
				@include vw-convert-desktop('margin-top', 20px);
				@include vw-convert-desktop('font-size', 15px);

				@include mobile {
					@include vw-convert-mobile('font-size', 20px);
					@include vw-convert-mobile('margin-top', 20px);
				}

				span {
					color: #e2b714;
				}

				&.success {
					background-color: #fff5d6;
					@include vw-convert-desktop('padding', 10px);
					@include vw-convert-desktop('border-radius', 10px);
					text-align: center;
				}
			}

			&.footer {
				@include vw-convert-desktop('margin-top', 50px);
				@include mobile {
					@include vw-convert-mobile('margin-top', 50px);
				}
			}
		}
	}
}

.game {
	overflow: hidden;
	.ant-card-body {
		padding: 0 !important;
	}


	.lesson-name {
		@include vw-convert-desktop(padding, 14px 0px 5px 10px);
		font-weight: 700;
	}

	.lesson-desc { 
		@include vw-convert-desktop(padding, 0px 0px 10px 10px);
	}


	.lesson-box {
		@include vw-convert-desktop(padding, 10px);

		@include mobile {
			@include vw-convert-mobile(padding, 10px);
		}
		// @include vw-convert-desktop(height, 200px);
		// overflow: hidden;
		// position: relative;
		img {
			@include vw-convert-desktop('border-radius', 10px);
		}
	}
}

.video-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	@include vw-convert-desktop(margin-top, 100px);
	@include vw-convert-desktop(margin-bottom, 20px);
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	// border-radius: 10px;

	.body {
		position: relative;
		video {
			width: 100%;
			height: auto;
		}
	}

	.controller {
		@include vw-convert-desktop(height, 50px);
		background-color: #F7F7F7;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include vw-convert-desktop(padding, 20px);

		.fullscreen {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%)
		}

		svg {
			@include vw-convert-desktop(width, 15px);
			width: 15px;
			height: auto;
			fill: #1E3050;
		}
	}

	&.full {
		.controller {
			transform: translateY(-100%);
			@include vw-convert-desktop(height, 80px);
		}
	}
}

.video-result {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
}
